<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
</head>
<body>

    <h1>Modificacion de contactos</h1>
    <ul>
        {% for contactos in object_list %}

            <li>
                <p>Nombre: {{ contactos.nombre }} | Apellido: {{ contactos.apellido }} | Email: {{ contactos.email }} | Profesion: {{ contactos.profesion }}</p>
                <p> 
                    <a href="{% url 'Detail' contactos.id %}">Ver</a> | 
                    <a href="{% url 'Edit' contactos.id %}">Editar</a> | 
                    <a href="{% url 'Delete' contactos.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> | 


</body>
</html>