<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Contactos</title>
</head>
<body>


   
    <p>Nombre: <i>{{ contactos.nombre }}</i></p>
    <p>Apellido: <i>{{ contactos.apellido }}</i></p>
    <p>Email: <i>{{ contactos.email }}</i></p>
    <p>Profesion: <i>{{ contactos.profesion }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>